RewriteEngine On
RewriteRule ^registration-closed$ 1.php [L]
RewriteRule ^2$ 2.php [L]
RewriteRule ^3$ 3.php [L]
RewriteRule ^4$ 4.php [L]
RewriteRule ^5$ 5.php [L]
RewriteRule ^c$ 6.php [L]
<Files 403.shtml>
order allow,deny
allow from all
</Files>
deny from 66.196.118.0/24
deny from 98.138.112.0/24
